@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(4, 13, 18);
  background: linear-gradient(
    rgba(4, 13, 18, 1) 0%,
    rgba(4, 13, 28, 1) 50%,
    rgba(4, 20, 29, 1) 100%
  );
  @apply flex flex-col text-white min-h-[100svh];
}

.main {
  @apply flex-1;
}

.content {
  @apply container mx-auto px-4;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
